<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="ArtifactortyV3" value="https://cognite.jfrog.io/cognite/api/nuget/nuget-local" protocolVersion="3" />
  </packageSources>
  <apikeys>
    <add key="https://cognite.jfrog.io/cognite/api/nuget/nuget-local" value="encrypted_api_key" />
  </apikeys>
</configuration>