source https://www.nuget.org/api/v2
storage: none

group Sdk
    source https://www.nuget.org/api/v2
    framework: netstandard2.0

    nuget FSharp.Core ~> 6
    nuget Oryx ~> 5

group Oryx.Cognite
    source https://www.nuget.org/api/v2
    storage: none
    framework: netstandard2.0

    nuget FSharp.Core ~> 6
    nuget System.Text.Json ~> 6
    nuget CogniteSdk.Protobuf
    nuget Oryx ~> 5
    nuget Oryx.Protobuf ~> 5
    nuget Oryx.SystemTextJson ~> 5

group CogniteSdk.FSharp
    source https://www.nuget.org/api/v2
    storage: none
    framework: netstandard2.0

    nuget FSharp.Core ~> 6
    nuget Oryx ~> 5

group Types
    source https://www.nuget.org/api/v2
    framework: netstandard2.0

    nuget System.Text.Json ~> 6

group Test
    source https://www.nuget.org/api/v2
    storage: none

    nuget FSharp.Core ~> 6
    nuget coverlet.msbuild
    nuget Unquote ~> 6
    nuget xunit ~> 2
    nuget xunit.runner.visualstudio ~> 2
    nuget Microsoft.NET.Test.Sdk ~> 17
    nuget MSTest.TestAdapter ~> 2
    nuget MSTest.TestFramework ~> 2
    nuget Oryx ~> 5
    nuget Oryx.Protobuf ~> 5
    nuget Oryx.SystemTextJson ~> 5

group Playground
    source https://www.nuget.org/api/v2
    storage: none

    nuget FSharp.Core
    nuget FsConfig ~> 2
    nuget Microsoft.Extensions.Configuration
    nuget Microsoft.AspNetCore.Hosting
    nuget Microsoft.Extensions.DependencyInjection
    nuget Microsoft.Extensions.Hosting
    nuget Microsoft.Extensions.Logging
    nuget Microsoft.Extensions.Logging.EventLog
    nuget Oryx ~> 5
    nuget Oryx.Protobuf ~> 5
    nuget Oryx.SystemTextJson ~> 5
    nuget CogniteSdk.Protobuf
    nuget Serilog
    nuget Serilog.Extensions.Logging
    nuget Serilog.Sinks.Console

group FSharp
    source https://www.nuget.org/api/v2
    storage: none