source https://www.nuget.org/api/v2
storage: none

group Sdk
    source https://www.nuget.org/api/v2
    framework: netstandard2.0

    nuget Oryx >= 3 prerelease

group Oryx.Cognite
    source https://www.nuget.org/api/v2
    storage: none
    framework: netstandard2.0

    nuget FSharp.Core >= 4.7
    nuget System.Text.Json
    nuget CogniteSdk.Protobuf
    nuget Ply
    nuget Oryx >= 3 prerelease
    nuget Oryx.Protobuf >= 3 prerelease
    nuget Oryx.SystemTextJson >= 3 prerelease

group Types
    source https://www.nuget.org/api/v2
    framework: netstandard2.0

    nuget System.Text.Json

group Test
    source https://www.nuget.org/api/v2
    storage: none

    nuget FSharp.Core >= 4.7
    nuget coverlet.msbuild
    nuget Unquote ~> 5
    nuget xunit ~> 2
    nuget xunit.runner.visualstudio ~> 2
    nuget Microsoft.NET.Test.Sdk ~> 16
    nuget MSTest.TestAdapter ~> 1
    nuget MSTest.TestFramework ~> 1
    nuget Oryx >= 3 prerelease
    nuget Oryx.Protobuf >= 3 prerelease
    nuget Oryx.SystemTextJson >= 3 prerelease

group Playground
    source https://www.nuget.org/api/v2
    storage: none

    nuget FSharp.Core >= 4.7
    nuget FsConfig ~> 2
    nuget Microsoft.Extensions.Configuration ~> 5
    nuget Microsoft.AspNetCore.Hosting
    nuget Microsoft.Extensions.DependencyInjection
    nuget Microsoft.Extensions.Hosting
    nuget Microsoft.Extensions.Logging
    nuget Microsoft.Extensions.Logging.EventLog
    nuget Oryx >= 3 prerelease
    nuget Oryx.Protobuf >= 3 prerelease
    nuget Oryx.SystemTextJson >= 3 prerelease
    nuget CogniteSdk.Protobuf
    nuget Serilog
    nuget Serilog.Extensions.Logging
    nuget Serilog.Sinks.Console

group FSharp
    source https://www.nuget.org/api/v2
    storage: none
