name: Build and Test

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Setup .NET Core
        uses: actions/setup-dotnet@2016bd2012dba4e32de620c46fe006a3ac9f0602 # v5
        with:
          dotnet-version: 8.0.x

      - name: Restore tools
        run: dotnet tool restore

      - name: Install dependencies
        run: dotnet restore

      - name: Check formatting
        run: |
          dotnet fantomas Oryx.Cognite/src/  ./CogniteSdk.FSharp/src --check
          dotnet format --include ./CogniteSdk.Types ./CogniteSdk/src ./CogniteSdk/test/csharp/ --verify-no-changes --no-restore

      - name: Build
        run: dotnet build --configuration Release --no-restore

      - name: Test
        run: ./test.sh
        env:
          TEST_HOST_WRITE: "https://greenfield.cognitedata.com"
          TEST_TENANT_ID_WRITE: ${{ secrets.TEST_TENANT_ID_WRITE }}
          TEST_CLIENT_ID_WRITE: ${{ secrets.TEST_CLIENT_ID_WRITE }}
          TEST_CLIENT_SECRET_WRITE: ${{ secrets.TEST_CLIENT_SECRET_WRITE }}
          TEST_HOST_READ: "https://api.cognitedata.com"
          TEST_TENANT_ID_READ: ${{ secrets.TEST_TENANT_ID_READ }}
          TEST_CLIENT_ID_READ: ${{ secrets.TEST_CLIENT_ID_READ }}
          TEST_CLIENT_SECRET_READ: ${{ secrets.TEST_CLIENT_SECRET_READ }}

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./coverage.lcov
          flags: unittests
          name: codecov-umbrella
          fail_ci_if_error: true
